<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MTN Sim Registration Form</title>
</head>
<body>
</body>
</html>
<div class="grid-container">
    <div class="navigation-bar grid-item-row-1">
        <div class="navigation-bar-left">
            <div>
                <a href="/Sim Registration Form/">Sim Registration Form</a>
            </div><div>
                <a href="/" class="active">Home</a>
            </div>

            <div>
                <a href="/about-us/">About Us</a>
            </div>
        </div>
        <div class="navigation-bar-right">
            <div>
                <button>date</button>
                <input type="date">
                <button>firstname</button>
                <input type="text">
                <button>surname</button>
                <input type="text">
                <button>date of birth</button>
                <input type="number">
                <button>residential address</button>
                <input type="text">
                <button>nationality</button>
                <input type="text">
                <button>national identity number</button>
                <input type="number">
                <button>Search</button>
            </div>